<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>
  <body>
    <div class="row">
      <!--     NavBar -->
      <div class="col-2"><%- include("../partials/navbar") %></div>
      <!-- Perfil Page -->
      <div
        style="background-color: #1d9bf0; height: 8rem"
        class="col-9 col-lg-7"
      >
        <% if (userProfile.image.includes("http")) { %>
        <img
          class="rounded-pill position-relative ms-3 border border-5 border-white"
          style="
            height: 7rem;
            width: 7rem;
            top: 55px;
            border-style: solid;
            border-color: white;
          "
          src="<%= userProfile.image %>"
          alt="Gato"
        />
        <!--   coment -->
        <% } else {%>
        <img
          class="rounded-pill position-relative ms-3 border border-5 border-white"
          style="
            width: 7rem;
            height: 7rem;
            top: 55px;
            border-style: solid;
            border-color: white;
            object-fit: cover;
          "
          src="/img/<%= userProfile.image %>"
          alt="Gato"
        />
        <%}%>

        <div class="d-flex justify-content-end mt-5">
          <button
            class="btn text-light rounded-pill"
            type="submit"
            style="background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
        <h3 class="ms-3 mt-3 mb-0">
          <%= userProfile.firstname %> <%= userProfile.lastname %>
        </h3>
        <div class="d-flex">
          <div class="ms-3">
            <small style="color: #647788; font-weight: 400">
              @<%= userProfile.username %></small
            >
          </div>
          <div class="ms-auto d-flex align-items-center gap-3">
            <div class="d-flex align-items-center gap-1">
              <small style="font-weight: 700; color: #000000"
                ><%= userProfile.followers.length %></small
              >
              <a
                class="text-decoration-none"
                href="/usuarios/<%=userProfile.username%>/followers"
                role="button"
                style="color: #647788"
              >
                Followers</a
              >
            </div>
            <div class="d-flex align-items-center gap-1">
              <small style="color: #000000; font-weight: 700"
                ><%= userProfile.following.length %></small
              >
              <a
                class="text-decoration-none"
                href="/usuarios/<%=userProfile.username%>/following"
                role="button"
                style="color: #647788"
              >
                Following</a
              >
            </div>
          </div>
        </div>
        <h6 class="ms-3 mt-3">Tweets</h6>
        <% for (const tweet of userProfile.tweets) { %>
        <!--           comment -->
        <%- include("../partials/tweetProfile", { tweet }) %>
        <!--           comment -->
        <% } %>
      </div>
      <!-- MoreInfo -->
      <div class="d-none d-lg-block col-lg-3">
        <%- include("../partials/moreinfo") %>
      </div>
    </div>
  </body>
</html>
