<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>
  <body>
    <div class="row">
      <!--     NavBar -->
      <div class="col-2"><%- include("../partials/navbar") %></div>
      <!-- Perfil Page -->
      <div
        style="background-color: #1d9bf0; height: 8rem"
        class="col-10 col-md-6"
      >
        <% if (user.image.includes("http")) { %>
        <img
          class="rounded-pill position-relative ms-3 border border-5 border-white"
          style="
            height: 7rem;
            width: 7rem;
            top: 55px;
            border-style: solid;
            border-color: white;
          "
          src="<%= user.image %>"
          alt="Gato"
        />
        <!--   coment -->
        <% } else {%>
        <img
          class="rounded-pill position-relative ms-3 border border-5 border-white"
          style="
            height: 7rem;
            width: 7rem;
            top: 55px;
            border-style: solid;
            border-color: white;
          "
          src="/img/<%= user.image %>"
          alt="Gato"
        />
        <%}%>

        <div class="d-flex justify-content-end mt-5">
          <button
            class="btn text-light"
            type="submit"
            style="background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
        <h3 class="ms-3 mt-3"><%= user.firstname %> <%= user.lastname %></h3>
        <div class="d-flex">
          <div class="ms-3">
            <small style="color: #969696; font-weight: 500">
              @<%= user.username %></small
            >
          </div>
          <div class="ms-auto">
            <a
              class="btn"
              href="/usuarios/<%=user.username%>/followers"
              role="button"
              ><%= user.followers.length %>Followers</a
            >
            <a
              class="btn"
              href="/usuarios/<%=user.username%>/following"
              role="button"
              ><%= user.following.length %>Following</a
            >
          </div>
        </div>
        <h6 class="ms-3 mt-3">Tweets</h6>
        <% for (const tweet of user.tweets) { %>
        <!--           comment -->
        <%- include("../partials/tweetProfile", { tweet }) %>
        <!--           comment -->
        <% } %>
      </div>
      <!-- MoreInfo -->
      <div class="col-4 d-none d-lg-block col-lg-4">
        <%- include("../partials/moreinfo") %>
      </div>
    </div>
  </body>
</html>
