<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/meta") %>
  </head>
  <body>
    <div class="row container">
      <div class="col-2 col-md-2 col-lg-2">
        <%- include("../partials/navbar") %>
      </div>

      <div
        style="background-color: #1d9bf0; height: 20vh"
        class="col-8 col-md-6 col-lg-7"
      >
        <% if (user.image.includes("http")) { %>
        <img
          class="rounded-pill position-relative ms-3 border border-5 border-white"
          style="
            height: 7rem;
            width: 7rem;
            top: 55px;
            border-style: solid;
            border-color: white;
          "
          src="<%= user.image %>"
          alt="Gato"
        />
        <!--   coment -->
        <% } else {%>
        <img
          class="rounded-pill position-relative ms-3 border border-5 border-white"
          style="
            height: 7rem;
            width: 7rem;
            top: 55px;
            border-style: solid;
            border-color: white;
          "
          src="/img/<%= user.image %>"
          alt="Gato"
        />
        <%}%>

        <div class="d-flex justify-content-end mt-5">
          <button
            class="btn text-light"
            type="submit"
            style="background-color: #1d9bf0"
          >
            Follow
          </button>
        </div>
        <h3 class="ms-3 mt-3"><%= user.firstname %> <%= user.lastname %></h3>
        <div class="d-flex">
          <div class="ms-3">
            <small style="color: #969696; font-weight: 500">
              @<%= user.username %></small
            >
          </div>
          <div class="ms-auto">
            <small> <%= user.followers %> Followers</small>
            <small> <%= user.following %> Following</small>
          </div>
        </div>
        <h6 class="ms-3 mt-3">Tweets</h6>

        <div class="d-flex w-100 align-items-center">
          <div class="d-flex align-items-center gap-3 w-100">
            <!--     Imagen Usuario -->
            <% for (const user of users) { %>
            <div>
              <img
                src="<%=user.image  %>"
                style="width: 2.5rem"
                class="figure-img img-fluid rounded-pill align-self-center"
                alt="image"
              />
            </div>
            <!-- Nombre y Apellido del Usuario -->
            <div class="d-flex flex-column">
              <h6 class="mb-0 p-0"><%=user.firstname %> <%=user.lastname %></h6>
              <p class="p-0 m-0" style="font-size: 0.8rem; color: #969696">
                <%= user.username %>
              </p>
              <!-- Contenido del usuario -->
              <div class="d-flex">
                <p><%=user.description %></p>
              </div>
            </div>
          </div>
        </div>
        <% } %> -->
      </div>

      <div class="col-md-3 d-none d-md-block">
        <%- include("../partials/moreinfo") %>
      </div>
    </div>
  </body>
</html>
