<div class="d-flex gap-3 w-100">
  <!--     Imagen Usuario -->
  <a href="/usuarios/<%= tweet.user.username %>">
    <img
      src="<%= tweet.user.image %>"
      style="height: 4rem; width: 4rem"
      class="rounded-pill"
      alt="image"
    />
  </a>
  <!-- Nombre y Apellido del Usuario -->
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center gap-1">
      <a
        href="/usuarios/<%= tweet.user.username %>"
        class="text-decoration-none text-black fw-semibold mb-0 p-0"
      >
        <%= tweet.user.firstname %> <%= tweet.user.lastname %>
      </a>
      <small class="p-0 m-0" style="font-size: 0.8rem; color: #969696">
        @<%= tweet.user.username %>
      </small>
    </div>
    <!-- Contenido del usuario -->
    <div class="d-flex">
      <p><%=tweet.text %></p>
    </div>
  </div>
</div>
