<div
  class="d-flex w-100 p-3 border-top border-bottom border-succes border-opacity-50"
  style="--bs-border-opacity: "
>
  <!--     Imagen Usuario -->
  <div style="margin-right: 14px">
    <% if (userProfile.image.includes("http")) { %>
    <img
      style="width: 2.5rem"
      class="figure-img img-fluid rounded-pill align-self-center"
      alt="image"
      src="<%= userProfile.image %>"
    />
    <!--   coment -->
    <% } else {%>
    <img
      style="width: 2.5rem"
      class="figure-img img-fluid rounded-pill align-self-center"
      alt="image"
      src="/img/<%= userProfile.image %>"
    />
    <%}%>
  </div>
  <!-- Nombre y Apellido del Usuario -->
  <div class="d-flex flex-column w-100">
    <div class="d-flex align-items-center gap-1">
      <h6 class="mb-0 p-0">
        <%= userProfile.firstname %> <%= userProfile.lastname %>
      </h6>
      <p class="p-0 m-0" style="font-size: 0.8rem; color: #969696">
        @<%= userProfile.username %>
      </p>
    </div>
    <!-- Contenido del usuario -->
    <div class="d-flex w-100">
      <p><%= tweet.text %></p>
    </div>
    <div class="d-flex justify-content-between w-100">
      <!-- Boton de Like -->
      <form action="/usuarios/<%=tweet._id%>" method="post">
        <button
          class="border border-white bg-white m-0 p-0 d-flex align-items-center"
          type="submit"
          role="button"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/2961/2961957.png"
            class="img-fluid object-fit"
            style="width: 1.2rem"
            alt="heart-white"
          />
        </button>
      </form>
      <!-- Boton de Borrar con MethodOverride DELETE -->
      <!-- user: usuario global logeado, userProfile: el perfil del usuario q entras -->
      <% if (user.username === userProfile.username) {%>
      <form action="/usuarios/<%=tweet.id%>?_method=delete" method="post">
        <button
          type="submit"
          class="border border-white bg-white m-0 p-0 d-flex align-items-center"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png"
            class="img-fluid object-fit"
            style="width: 1.2rem"
            alt="trash-can"
          />
        </button>
      </form>
      <% } %>
    </div>
  </div>
  <hr />
</div>
